html {
    box-sizing: border-box;
  //   font-size: 62.5%; //1rem = 10px
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body{
    font-family: "Kumbh-sans", sans-serif;
    background-color: $dark-cyan;
    background-image: url('../images/bg-pattern-top.svg'), url('../images/bg-pattern-bottom.svg');
    background-repeat: no-repeat, no-repeat;
}

